[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia .htaccess
Type=Link
URL=https://github.com/jcjg3/G1-05/blob/juan/Proyecto/public/.htaccess
Icon=text-html
